[temperature_sensor OctopusPro]
sensor_type: temperature_mcu
sensor_mcu: mcu

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_max: 250
position_endstop: 250
homing_speed: 25
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_endstop: 260
position_min: 0
position_max: 260
homing_speed: 25
homing_retract_dist: 0
homing_positive_dir: true

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 32
rotation_distance: 4
full_steps_per_rotation:200
endstop_pin: PG10
position_min: -15
position_max: 220
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

[stepper_z1]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 32
rotation_distance: 4
full_steps_per_rotation:200

[stepper_z2]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 32
rotation_distance: 4
full_steps_per_rotation:200

########################################
# TMC5160T PRO configuration
########################################

[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi1
diag1_pin: ^!PG6 
driver_SGT: 2       # -64 most sensitive, 63 least sensitive
run_current: 2.5
hold_current: 0.5
sense_resistor: 0.075
stealthchop_threshold: 0
interpolate: True

[tmc5160 stepper_y]
cs_pin: PD11
spi_bus: spi1
diag1_pin: ^!PG9 
driver_SGT: 2       # -64 most sensitive, 63 least sensitive
run_current: 2.5
hold_current: 0.5
sense_resistor: 0.075
stealthchop_threshold: 0
interpolate: True

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: False
run_current: 0.8
stealthchop_threshold: 0
sense_resistor: 0.110

[tmc2209 stepper_z1]
uart_pin: PF2
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z2]
uart_pin: PE4
interpolate: False
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
heater_pin: PA3
sensor_pin: PF3
sensor_type: ATC Semitec 104GT-2
control: pid
pid_Kp: 58.109
pid_Ki: 2.767
pid_Kd: 305.073
min_temp: 0
max_temp: 130


[mcu]
canbus_uuid:24de3c7cb71e

[printer]
kinematics: corexy
max_velocity: 1100
max_accel: 19000        
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0

[gcode_button led_cycle_button]
pin: ^!PD6
press_gcode:
    CYCLE_LED_BRIGHTNESS

[gcode_macro _LED_VARS]
variable_brightness_index: 0
gcode:

[gcode_macro CYCLE_LED_BRIGHTNESS]
gcode:
    {% set idx = printer["gcode_macro _LED_VARS"].brightness_index %}
    {% set steps = [
        (0.0, 0.0, 0.0),
        (0.25, 0.25, 0.25),
        (0.5, 0.5, 0.5),
        (0.75, 0.75, 0.75),
        (1.0, 1.0, 1.0)
    ] %}
    {% set next = (idx + 1) % steps|length %}
    {% set r, g, b = steps[next] %}
    SET_GCODE_VARIABLE MACRO=_LED_VARS VARIABLE=brightness_index VALUE={next}
    SET_LED LED=chamber_leds RED={r} GREEN={g} BLUE={b} SYNC=0 TRANSMIT=1

[fan_generic Bed_Fans]
pin: PD15
max_power: 1

[temperature_sensor _chamber]
sensor_type: SHT3X
i2c_address: 68
i2c_software_scl_pin: PB8
i2c_software_sda_pin: PB9

[fan_generic heater_fan]
pin: PE5
max_power: 1
off_below: 0.1
shutdown_speed: 0

[heater_generic chamber_heater]
heater_pin: PA0
sensor_type: temperature_combined
sensor_list: temperature_sensor _chamber
combination_method: max
maximum_deviation: 999
min_temp: 0
max_temp: 70
control: pid
pid_kp: 10
pid_ki: 1
pid_kd: 50

[verify_heater chamber_heater]
max_error: 999
check_gain_time: 300
heating_gain: 0.5
hysteresis: 10

[multi_pin Intake_Fans]
pins: PD12, PD13

[fan_generic Exhaust_Fans]
pin: multi_pin:Intake_Fans
max_power: 1
off_below: 0.25
shutdown_speed: 0

[fan_generic Intake_Fans]
pin: PA8
max_power: 1
off_below: 0.25
shutdown_speed: 0

[gcode_macro SET_CHAMBER_TEMP]
gcode:
    {% set temp = params.TEMP|default(0)|float %}
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET={temp}

[gcode_macro M141]
gcode:
    {% set temp = params.S|default(0)|float %}
    SET_CHAMBER_TEMP TEMP={temp}

[delayed_gcode start_fans]
initial_duration: 1
gcode:
    SET_FAN_SPEED FAN=Intake_Fans SPEED=0.25
    SET_FAN_SPEED FAN=Exhaust_Fans SPEED=0.25
    UPDATE_FANS
    UPDATE_DELAYED_GCODE ID=fan_monitor DURATION=3

[delayed_gcode fan_monitor]
initial_duration: 0
gcode:
    UPDATE_FANS
    SYNC_HEATER_FAN
    UPDATE_DELAYED_GCODE ID=fan_monitor DURATION=3

[gcode_macro SYNC_HEATER_FAN]
variable_heater_was_on: 0
gcode:
    {% set target = printer["heater_generic chamber_heater"].target %}
    {% set chamber_temp = printer["temperature_sensor _chamber"].temperature %}
    {% set was_on = printer["gcode_macro SYNC_HEATER_FAN"].heater_was_on %}
    {% if target > 0 or chamber_temp >= 70 %}
        SET_FAN_SPEED FAN=heater_fan SPEED=1.0
        UPDATE_DELAYED_GCODE ID=heater_fan_cooldown DURATION=0
        SET_GCODE_VARIABLE MACRO=SYNC_HEATER_FAN VARIABLE=heater_was_on VALUE=1
    {% elif was_on == 1 %}
        UPDATE_DELAYED_GCODE ID=heater_fan_cooldown DURATION=45
        SET_GCODE_VARIABLE MACRO=SYNC_HEATER_FAN VARIABLE=heater_was_on VALUE=0
    {% endif %}

[delayed_gcode heater_fan_cooldown]
initial_duration: 0
gcode:
    SET_FAN_SPEED FAN=heater_fan SPEED=0

[gcode_macro UPDATE_FANS]
variable_last_speed: 0.25
gcode:
    {% set bed_temp = printer.heater_bed.temperature %}
    {% set bed_target = printer.heater_bed.target %}
    {% set heater_target = printer["heater_generic chamber_heater"].target %}
    {% set octopus_temp = printer["temperature_sensor OctopusPro"].temperature %}
    {% set cb2_temp = printer["temperature_sensor CB2"].temperature %}
    {% set ctrl_temp = [octopus_temp, cb2_temp] | max %}
    {% set last = printer["gcode_macro UPDATE_FANS"].last_speed %}
    # Bed_Fans: on when bed or chamber heater active, otherwise based on bed temp
    {% if bed_target > 0 or heater_target > 0 %}
        SET_FAN_SPEED FAN=Bed_Fans SPEED=1.0
    {% elif bed_temp < 40 %}
        SET_FAN_SPEED FAN=Bed_Fans SPEED=0
    {% elif bed_temp < 60 %}
        SET_FAN_SPEED FAN=Bed_Fans SPEED=0.5
    {% else %}
        SET_FAN_SPEED FAN=Bed_Fans SPEED=1.0
    {% endif %}
    # Intake/Exhaust: 40% baseline, ramp to 100% between 50-65C controller temp
    {% if ctrl_temp < 50 %}
        {% set target = 0.40 %}
    {% elif ctrl_temp > 65 %}
        {% set target = 1.0 %}
    {% else %}
        {% set target = 0.40 + (ctrl_temp - 50) / 25 * 0.60 %}
    {% endif %}
    {% set step = 0.05 %}
    {% if target > last + step %}
        {% set new_speed = last + step %}
    {% elif target < last - step %}
        {% set new_speed = last - step %}
    {% else %}
        {% set new_speed = target %}
    {% endif %}
    SET_GCODE_VARIABLE MACRO=UPDATE_FANS VARIABLE=last_speed VALUE={new_speed}
    SET_FAN_SPEED FAN=Intake_Fans SPEED={new_speed}
    SET_FAN_SPEED FAN=Exhaust_Fans SPEED={new_speed}